@font-face {
  /* 사용할 폰트의 이름 */
  font-family: 'SCDream';
  font-display: fallback;

  /* 
    src: 사용할 폰트의 위치 및 형식 
       Safari, Android, iOS => ttf
       Modern Browsers => woff
       IE6-IE8 => eot
    */
  src: url('./SCDream1.ttf') format('truetype'),
    url('./SCDream1.woff') format('woff'),
    url('./SCDream1.eot') format('embedded-opentype');

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* 사용할 폰트의 이름 */
  font-family: 'SCDream-bold';
  font-display: fallback;

  /* 
    src: 사용할 폰트의 위치 및 형식 
       Safari, Android, iOS => ttf
       Modern Browsers => woff
       IE6-IE8 => eot
    */
  src: url('./SCDream5.ttf') format('truetype'),
    url('./SCDream5.woff') format('woff'),
    url('./SCDream5.eot') format('embedded-opentype');

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 400;
  font-style: normal;
}
